body {
	margin: 0 auto;
	width:1024px;
	background: #fff;

}

header {
	padding: 15px 0px 15px 0px;
	width: 100%;
	position: relative;
	top: 10px;
	z-index: -1;
	
}

header h1 {
	text-align: center; 
	color: #969696;
}

#icon
{
  width: 200px;
  height: 200px;
  margin: 0px 0px 0px 38px;
  padding: 1px ;
  background: #8F857E;
  float: left;
  text-align: center;
  vertical-align: middle;
  
}

#nav1 {
	float: right;
	width: 782px;
	height: 30px;
	background: #FC8626;
	
}

#nav2{
	float: right;
	width: 782px;
	height:20px;
	background: #A88568;
	
}


nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav ul a { 
   border-bottom: thin; 
   border-bottom-style: solid; 
   border-bottom-color: transparent;
}

#nav1 li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

#nav2 li a {
	display: block;
	float: left;
	padding: 0px 10px;
	color: #fff;
	text-decoration: none;
	font-size: 90%;
}

nav li a:hover {
	background: #383;
}

#content-container {
	float: left;
	width: 1024px;
	background: #fff;
	min-height: 600px
}

article {
	
	float: right;
 	width: 780px;
	display: inline;
	padding-left: 16px;	
	min-height: 552px;
	border-left: 1px solid #8F857E;
}

article a {
	text-align: right;
	float: right;
}

article h2 {
	margin-top: 15px;
	color: #969696;
}

article h6 {
	float:right;
	text-align: right;
}

aside {
	clear: left;
	float: left;
	width: 17%;
	margin-left: 50px;
	display: block;
	
}

aside h3{
	margin-left: 15px;
	color: #969696;
}

aside ul {
	margin-left: 10px;
	color: #969696;
}

footer {
	clear: both;
	float: right;
	font-size: 70%;
	color: #969696;
	padding-top: 40px;
}

table {
	margin-top: 10px;
	color: #969696;
	border-spacing: 0px;
	
}

table th {
	border-bottom: 2px solid #FC8626;
	padding-right: 7px;
}
table td {
	color: #969696;
	padding-right: 7px;
	border-bottom: 1px solid #FC8626;
}

table tr:hover {
	background-color: #A88568;
	color: #FFF;	
}

table tr:hover td {
	background-color: #A88568;
	color: #FFF;
}

/* Drop-Down Navigation */

ul#navigation li:hover > ul
{

/*these 2 styles are very important, 

being the ones which make the drop-down to appear on hover */

    visibility:visible;

    opacity:1;

}

 

ul#navigation ul, ul#navigation ul li ul {

    list-style: none;

    margin: 0;

    padding: 0;    

/*the next 2 styles are very important, 

being the ones which make the drop-down to stay hidden */

    visibility:hidden;

    opacity:0;

    position: absolute;

    z-index: 99999;

    width:180px;

    background:#f8f8f8;

    box-shadow:1px 1px 3px #ccc;

/* css3 transitions for smooth hover effect */

    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 

    -moz-transition:opacity 0.2s linear, visibility 0.2s linear; 

    -o-transition:opacity 0.2s linear, visibility 0.2s linear; 

    transition:opacity 0.2s linear, visibility 0.2s linear;     

}

 

ul#navigation ul {

    top: 43px;

    left: 1px;

}

 

ul#navigation ul li ul {

    top: 0;

    left: 181px; /* strong related to width:180px; from above */

}

 

ul#navigation ul li {

    clear:both;

    width:100%;

    border:0 none;

    border-bottom:1px solid #c9c9c9;

}
